export NOMAD_ADDR="http://$(terraform output -json | jq -r .NomadServerPubFQDN.value):4646"
export CONSUL_HTTP_ADDR="http://$(terraform output -json | jq -r .ConsulPubFQDN.value):8500"

echo "NOMAD: $NOMAD_ADDR"
echo "CONSUL: $CONSUL_HTTP_ADDR"
